# venv
venv/
.venv/

# uv
.python-version
uv.lock

# compiled python
*.pyc
*.pyo
*.pyd

# pycache
__pycache__/

# egg info
*.egg-info/

# Claude
.claude/

# Large png, pdf, tif files
*.png
*.pdf
*.tif

# Examples for AI agents
examples/
